# Berlin Day Care Centers (source-aligned) - Sample Notebook

## Explore data

In [1]:

import pandas as pd        

# Read csv file
dataframe = pd.read_csv("./data/03-gold/berlin-daycare-centers-2026-01-csv/berlin-daycare-centers-2026-01-planning-areas.csv")

In [2]:

# Display 5 first rows
dataframe.head()

        id  places  daycare_centers
0  1100101      39                1
1  1100103     429                7
2  1100104     300                2
3  1100205     283                6
4  1100206     215                3

In [3]:

# Display dataframe info
dataframe.info()

<class 'pandas.DataFrame'>
RangeIndex: 520 entries, 0 to 519
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               520 non-null    int64
 1   places           520 non-null    int64
 2   daycare_centers  520 non-null    int64
dtypes: int64(3)
memory usage: 12.3 KB

In [4]:

# Describe dataframe
dataframe.describe()

                 id       places  daycare_centers
count  5.200000e+02   520.000000       520.000000
mean   6.586252e+06   384.328846         5.563462
std    3.384814e+06   220.202958         3.598840
min    1.100101e+06    15.000000         1.000000
25%    3.601451e+06   214.500000         3.000000
50%    6.350684e+06   370.000000         5.000000
75%    9.401329e+06   515.000000         7.000000
max    1.260124e+07  1159.000000        21.000000