# Berlin Day Care Centers (source-aligned) - Sample Notebook

## Explore data

In [1]:

import pandas as pd        

# Read csv file
dataframe = pd.read_csv("./data/03-gold/berlin-daycare-centers-2025-10-csv/berlin-daycare-centers-2025-10.csv")

In [2]:

# Display 5 first rows
dataframe.head()

        id                               name  ...        lat        lon
0  1010010                  Kita F.A.I.R.play  ...  52.522516  13.384393
1  1010020                    Kita Kinderwelt  ...  52.511750  13.382119
2  1010030  FRÖBEL Kindergarten Casa Fantasia  ...  52.535230  13.399251
3  1010080                    Kita Regenbogen  ...  52.532123  13.404979
4  1010100  FRÖBEL Kindergarten "Schatzinsel"  ...  52.512302  13.405580

[5 rows x 11 columns]

In [3]:

# Display dataframe info
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2852 entries, 0 to 2851
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            2852 non-null   int64
 1   name          2852 non-null   object
 2   phone_number  2838 non-null   object
 3   places        2852 non-null   int64
 4   type          2852 non-null   object
 5   sponsor_id    2852 non-null   int64
 6   sponsor_name  2852 non-null   object
 7   street        2852 non-null   object
 8   zip_code      2852 non-null   int64
 9   lat           2852 non-null   float64
 10  lon           2852 non-null   float64
dtypes: float64(2), int64(4), object(5)
memory usage: 245.2+ KB

In [4]:

# Describe dataframe
dataframe.describe()

                 id       places  ...          lat          lon
count  2.852000e+03  2852.000000  ...  2852.000000  2852.000000
mean   5.873973e+06    69.341515  ...    52.507666    13.397330
std    3.456949e+06    56.238142  ...     0.051280     0.101187
min    9.000000e+02     0.000000  ...    52.375227    13.100679
25%    3.042040e+06    25.000000  ...    52.472616    13.331929
50%    6.100195e+06    50.000000  ...    52.509417    13.397690
75%    8.143902e+06   100.000000  ...    52.545743    13.454128
max    1.220271e+07   358.000000  ...    52.660055    13.739659

[8 rows x 6 columns]