# Berlin Day Care Centers (source-aligned) - Sample Notebook

## Explore data

In [1]:

import pandas as pd        

# Read csv file
dataframe = pd.read_csv("./data/03-gold/berlin-daycare-centers-2025-10-csv/berlin-daycare-centers-2025-10-planning-areas.csv")

In [2]:

# Display 5 first rows
dataframe.head()

        id  places  daycare_centers
0  1100101      39                1
1  1100103     429                7
2  1100104     300                2
3  1100205     200                2
4  1100206     180                1

In [3]:

# Display dataframe info
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 521 entries, 0 to 520
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               521 non-null    int64
 1   places           521 non-null    int64
 2   daycare_centers  521 non-null    int64
dtypes: int64(3)
memory usage: 12.3 KB

In [4]:

# Describe dataframe
dataframe.describe()

                 id       places  daycare_centers
count  5.210000e+02   521.000000       521.000000
mean   6.585512e+06   379.581574         5.474088
std    3.381600e+06   217.124941         3.570687
min    1.100101e+06    15.000000         1.000000
25%    3.601451e+06   206.000000         3.000000
50%    6.300634e+06   358.000000         5.000000
75%    9.401329e+06   512.000000         7.000000
max    1.260124e+07  1128.000000        21.000000